<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.touch6.business.mybatis.system.AuthRoleMybatisDao">
    <insert id="insertAuthRole" parameterType="com.touch6.business.entity.system.AuthRole">
        insert ignore into t_si_auth_role(
        role_id,auth_id
        )
        values(
        #{roleId},#{authId}
        )
    </insert>
    <select id="findByAuthRole" resultType="com.touch6.business.entity.system.AuthRole" parameterType="com.touch6.business.entity.system.AuthRole">
        select *
        from t_si_auth_role
        where auth_id=#{authId} and role_id=#{roleId}
    </select>
    <update id="updateAuthRole" parameterType="hashMap">
        update t_si_auth_role
        <set>
            auth_id=#{newAuthId}
        </set>
        where auth_id=#{authId} and role_id=#{roleId}
    </update>
</mapper>