<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.touch6.business.mybatis.system.MenuMybatisDao">
    <insert id="insertMenu" parameterType="com.touch6.business.entity.system.Menu" useGeneratedKeys="true" keyProperty="menuId">
        insert ignore into t_si_menu(
        menu_id,name,class_name,uisref,attr_link,module_id,status,sort,create_time,update_time
        )
        values(
        #{menuId},#{name},#{className},#{uisref},#{attrLink},#{moduleId},#{status},#{sort},#{createTime},#{updateTime}
        )
    </insert>
    <select id="findByMenuId" resultType="com.touch6.business.entity.system.Menu" parameterType="long">
        select * from t_si_menu where menu_id=#{0}
    </select>
    <update id="updateMenu" parameterType="com.touch6.business.entity.system.Menu" useGeneratedKeys="true" keyProperty="menuId">
        update t_si_menu
        <set>
            name=#{name},
            class_name=#{className},
            uisref=#{uisref},
            attr_link=#{attrLink},
            module_id=#{moduleId},
            status=#{status},
            sort=#{sort},
            update_time=#{updateTime}
        </set>
        where menu_id=#{menuId}
    </update>
    <select id="findAll" resultType="com.touch6.business.entity.system.Menu">
        select * from t_si_menu order by module_id asc,sort asc
    </select>
    <select id="findByModuleId" resultType="com.touch6.business.entity.system.Menu" parameterType="long">
        select * from t_si_menu where module_id=#{0} order by module_id asc,sort asc
    </select>
    <delete id="deleteMenu" parameterType="long">
        delete from t_si_menu where menu_id=#{0}
    </delete>
</mapper>