<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.touch6.business.mybatis.system.ModuleMybatisDao">
    <insert id="insertModule" parameterType="com.touch6.business.entity.system.Module" useGeneratedKeys="true" keyProperty="moduleId">
        insert ignore into t_si_module(
        module_id,name,class_name,attr_link,create_time,update_time
        )
        values(
        #{moduleId},#{name},#{className},#{attrLink},#{createTime},#{updateTime}
        )
    </insert>
    <select id="findByModuleId" resultType="com.touch6.business.entity.system.Module" parameterType="long">
        select * from t_si_module where module_id=#{0}
    </select>
</mapper>