<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.touch6.business.mybatis.system.UserRoleMybatisDao">
    <insert id="insertUserRole" parameterType="com.touch6.business.entity.system.UserRole">
        insert ignore into t_si_user_role(
        user_id,role_id
        )
        values(
        #{userId},#{roleId}
        )
    </insert>
    <select id="findByUserRole" resultType="com.touch6.business.entity.system.UserRole" parameterType="com.touch6.business.entity.system.UserRole">
        select
            ur.user_id,u.name userName,
            ur.role_id,r.name roleName
        from t_si_user_role ur
        left join t_si_user u on u.id=ur.user_id
        left join t_si_role r on r.role_id=ur.role_id
        where ur.user_id=#{userId} and ur.role_id=#{roleId}
        group by
            ur.user_id,u.name,
            ur.role_id,r.name
    </select>
    <update id="updateUserRole" parameterType="hashMap">
        update t_si_user_role
        <set>
            role_id=#{newRoleId}
        </set>
        where user_id=#{userId} and role_id=#{roleId}
    </update>
    <delete id="deleteUserRole" parameterType="com.touch6.business.entity.system.UserRole">
        delete from t_si_user_role where user_id=#{userId} and role_id=#{roleId}
    </delete>
    <delete id="deleteUserRoleByRoleId" parameterType="com.touch6.business.entity.system.UserRole">
        delete from t_si_user_role where role_id=#{roleId}
    </delete>
    <select id="findAll" resultType="com.touch6.business.entity.system.UserRole">
        select
            ur.user_id,u.name userName,
            ur.role_id,r.name roleName
        from t_si_user_role ur
        left join t_si_user u on u.id=ur.user_id
        left join t_si_role r on r.role_id=ur.role_id
        group by
            ur.user_id,u.name,
            ur.role_id,r.name
        order by
            r.role_id
    </select>
</mapper>