<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.touch6.business.mybatis.system.RoleMybatisDao">
    <insert id="insertUserRole" parameterType="com.touch6.business.entity.system.UserRole">
        insert ignore into t_si_user_role(
        user_id,role_id
        )
        values(
        #{userId},#{roleId}
        )
    </insert>
</mapper>