<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.touch6.business.mybatis.AuthMybatisDao">
    <insert id="insertAuth" parameterType="com.touch6.business.entity.Auth">
        insert into t_b_auth(
        id,uid,login_name,password,salt,
        reserve1,reserve2,reserve3,reserve4,reserve5
        )
        values(
        #{id},#{uid},#{loginName},#{password},#{salt},
        #{reserve1},#{reserve2},#{reserve3},#{reserve4},#{reserve5}
        )
    </insert>

    <select id="findAuthByLoginName" resultType="com.touch6.business.entity.Auth" parameterType="string">
        select * from t_b_auth where login_name=#{0}
    </select>

    <select id="checkIsRegisteredByLoginName" resultType="int" parameterType="string">
        select count(1) from t_b_auth where login_name=#{0}
    </select>
</mapper>