<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.heqmentor.dao.repository.mybatis.MobileCodeMybatisDao">
    <insert id="insertMobileCode" parameterType="com.heqmentor.po.entity.MobileCode">
        insert into t_b_mobile_code(
        id,mobile,prev_code,pres_code,verify_result,
        reserve1,reserve2,reserve3,reserve4,reserve5
        )
        values(
        #{id},#{mobile},#{prevCode},#{presCode},#{verifyResult},
        #{reserve1},#{reserve2},#{reserve3},#{reserve4},#{reserve5}
        )
    </insert>
    <update id="updateMobileCode" parameterType="com.heqmentor.po.entity.MobileCode">
        update t_b_mobile_code
        <set>
            prev_code=#{prevCode},
            pres_code=#{presCode},
            prev_verify_result=#{prevVerifyResult},
            pres_verify_result=#{presVerifyResult}
        </set>
        where id=#{id}
    </update>
    <select id="findByMobile" resultType="com.heqmentor.po.entity.MobileCode" parameterType="string">
        select * from t_b_mobile_code
        where mobile=#{0}
    </select>
</mapper>