<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.touch6.business.mybatis.ToutiaoMybatisDao">
    <insert id="insertToutiaoInBatch" parameterType="list">
        insert ignore into t_b_toutiao(
        uniquekey,title,date,category,author_name,
        url,thumbnail_pic_s,thumbnail_pic_s02,thumbnail_pic_s03,
        reserve1,reserve2,reserve3,reserve4,reserve5
        )
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (
              #{item.uniquekey},#{item.title},#{item.date},#{item.category},#{item.authorName},
              #{item.url},#{item.thumbnailPicS},#{item.thumbnailPicS02},#{item.thumbnailPicS03},
              #{item.reserve1},#{item.reserve2},#{item.reserve3},#{item.reserve4},#{item.reserve5}
            )
        </foreach>
    </insert>
    <select id="overview" resultType="com.touch6.business.entity.news.Toutiao" parameterType="hashMap">
        SELECT
            tt.uniquekey,
            tt.title,
            tt.date,
            tt.category,
	        tt.author_name,
            tt.url,
            tt.thumbnail_pic_s
        FROM
            t_b_toutiao tt
        ORDER BY
            tt.date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>