<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.knowincloud.dao.repository.mybatis.UserMybatisDao">
    <insert id="register" parameterType="com.knowincloud.po.entity.User">
        insert into t_b_user(
        uid,phone
        )
        values(
        #{uid},#{phone}
        )
    </insert>
    <select id="checkPhone" resultType="string" parameterType="string">
        select phone from t_b_user where phone=#{0}
    </select>
    <update id="perfectUserInfo" statementType="STATEMENT" parameterType="hashMap">
        <![CDATA[
        update t_b_user
        set ${column}=${value}
        where uid=${uid}
        ]]>
    </update>
    <select id="findByUid" resultType="com.knowincloud.po.entity.User" parameterType="string">
        select * from t_b_user where uid=#{0}
    </select>
    <select id="checkIsRegisteredByPhone" resultType="int" parameterType="string">
        select count(1) from t_b_user where phone=#{0}
    </select>
    <!--<update id="updateUser" parameterType="com.knowincloudcloud.entity.User">-->
    <!--INSERT  INTO-->
    <!--t_b_user(-->
    <!--uid,name,nickname,gender,birth,-->
    <!--age,nation,profession,province_code,city_code,-->
    <!--district_code,address,phone,idcard,reserve1,-->
    <!--reserve2,reserve3,reserve4,reserve5-->
    <!--)-->
    <!--VALUES(-->
    <!--#{uid},#{name},#{nickname},#{gender},#{birth},-->
    <!--#{age},#{nation},#{profession},#{provinceCode},#{cityCode},-->
    <!--#{districtCode},#{address},#{phone},#{idcard.id},#{reserve1},-->
    <!--#{reserve2},#{reserve3},#{reserve4},#{reserve5}-->
    <!--)-->
    <!--</update>-->
</mapper>