<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:error="http://www.touch6.com/schema/error"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.touch6.com/schema/error
                           http://www.touch6.com/schema/error/error.xsd">

    <!-- 异常代码配置  -->
    <bean id="eCode_comm" class="com.touch6.core.exception.ECode">
        <property name="errorMap">
            <!--suppress InjectionValueTypeInspection -->
            <map>
                <!--100000 认证异常start-->
                <entry key="authCenter.no.user">
                    <error:error code="100000" info="用户名不存在" des="用户名不存在"/>
                </entry>
                <entry key="authCenter.password.error">
                    <error:error code="100100" info="密码错误" des="密码错误"/>
                </entry>
                <entry key="authCenter.login.name.existed">
                    <error:error code="100101" info="登录名已存在" des="登录名已存在，请更换!"/>
                </entry>
                <!--100000 认证异常end-->


                <!--200000 共同异常start-->
                <entry key="common.params.error">
                    <error:error code="200000" info="参数错误" des="参数错误，请检查"/>
                </entry>
                <entry key="common.oper.repeat">
                    <error:error code="200001" info="重复请求" des="请勿重复操作"/>
                </entry>
                <entry key="common.resource.locked">
                    <error:error code="200002" info="资源已经被锁定" des="请勿重复操作"/>
                </entry>
                <entry key="common.resource.unlocked">
                    <error:error code="200003" info="资源已经解锁" des="请勿重复操作"/>
                </entry>
                <entry key="common.resource.not.existed">
                    <error:error code="200004" info="资源不存在" des="资源不存在"/>
                </entry>
                <!--200000 共同异常end-->


                <!--200100 手机验证异常start-->
                <entry key="phone.already.registered">
                    <error:error code="200100" info="信息错误" des="该手机号已被注册，请更换手机号码重新注册"/>
                </entry>
                <entry key="phone.incorrect">
                    <error:error code="200101" info="手机号码不正确" des="手机号不存在，请重新确认"/>
                </entry>
                <entry key="phone.code.incorrect">
                    <error:error code="200102" info="手机验证码不正确" des="手机验证码错误，请重新获取后验证"/>
                </entry>
                <!--<entry key="phone.code.times.too.many">-->
                <!--<error:error code="200103" info="请求过于频繁" des="手机验证码1天内最多获取10次，请次日再试"/>-->
                <!--</entry>-->
                <entry key="phone.code.sms.gateway.error">
                    <error:error code="200104" info="短信网关错误" des="短信网关错误，请联系管理员"/>
                </entry>
                <entry key="phone.code.expired">
                    <error:error code="200105" info="验证码过期" des="验证码验证时间超过15分钟，请重新获取"/>
                </entry>
                <entry key="phone.code.too.frequent.60">
                    <error:error code="200106" info="请求过于频繁" des="请求过于频繁，1分钟内只能请求一次"/>
                </entry>
                <entry key="phone.code.only.verify.one.times">
                    <error:error code="200107" info="验证码已失效" des="验证码只允许验证一次"/>
                </entry>
                <!--200100 手机验证异常end-->

                <!--500200 用户信息start-->
                <entry key="user.info.password.confirm.error">
                    <error:error code="500200" info="确认密码错误" des="密码和确认密码不一致，请重新输入"/>
                </entry>
                <!--500200 用户信息end-->

                <!--500100 系统异常start-->
                <entry key="system.exception">
                    <error:error code="500100" info="系统异常" des="系统异常，请联系管理员"/>
                </entry>
                <!--500100 系统异常end-->
            </map>
        </property>
    </bean>
</beans>